<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexFileMgr">
        <method name="createSecure" sync="true"></method>
        <method name="openSecure" sync="true"></method>
        <method name="createFile" sync="true"></method>
        <method name="createDir" sync="true"></method>
        <method name="openFile" sync="true"></method>
        <method name="openDir" sync="true"></method>
        <method name="deleteFileByPath" sync="true"></method>
        <method name="deleteFileByID" sync="true"></method>
        <method name="getFileTypeByPath" sync="true"></method>
        <method name="getFileTypeByID"></method>
        <method name="isFileExistByPath" sync="true"></method>
        <method name="isFileExistByID" sync="true"></method>
        <method name="explorer"></method>
        <method name="multiExplorer"></method>
        <method name="seekFile" sync="true"></method>
        <method name="seekBeginOfFile" sync="true"></method>
        <method name="seekEndOfFile" sync="true"></method>
        <method name="readFile"></method>
        <method name="writeFile"></method>
        <method name="getFileSize" sync="true"></method>
        <method name="getFileSizeByPath" sync="true"></method>
        <method name="getFilePath" sync="true"></method>
        <method name="closeFile" sync="true"></method>
        <method name="getReaderOffset" sync="true"></method>
        <method name="readPercent"></method>
        <method name="readNext"></method>
        <method name="readPre"></method>
        <method name="getFileRealPath" sync="true"></method>
        <method name="getFileCreateTime" sync="true"></method>
        <method name="renameFile"></method>
        <method name="getFileListByPath"></method>
        <method name="search"></method>
        <method name="copyFile"></method>
    </plugin>
</uexplugins>
